# cmake / makefiles
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.cmake
*.tcl

# build folder
[Bb]uild/
[Bb]uild/*
[Bb]uild*
[Bb]uild*/*
[Bb]uild-debug/
[Bb]uild-debug/*
[Bb]uild-debug*

# experiment
[Ee]xperiment/
[Ee]xperiment/*

# swp files
*.swp

# ctags
*tags

# graph operation dumps
*.graph*

# valgrind debug outputs
vgcore*

# benchmarks
[Bb]enchmarks/
[Bb]enchmarks/*
