# cmake / makefiles
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# build folder
[Bb]uild/
[Bb]uild/*
[Bb]uild*
[Bb]uild*/*
[Bb]uild-debug/
[Bb]uild-debug/*
[Bb]uild-debug*

# regression
[Rr]egressions/*
[Rr]egressions/**
[Rr]egressions/

# swp files
*.swp

# ctags
*tags

# graph operation dumps
*.graph*

# valgrind debug outputs
vgcore*

# benchmarks
[Bb]enchmarks/
[Bb]enchmarks/*

# *_timing executables
*_timing
